{% load static %}
<!doctype html>
<html>
        <head>
                <title> Update the Squirrel Sighting</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
<style>
	body{padding-left:10px; padding-right:10px;
	color: white;
        background-image: url({% static 'squirrel/images/update.jpeg'%});
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
	}
</style>
                <p>
                <br>
		<strong><h2><img src="https://www.flaticon.com/svg/static/icons/svg/1864/1864534.svg" style="width:60px" class="rounded" alt="..." >   Update the Squirrel Sighting   </strong>
                </h2>
                <p>Please use the following form to update the squirrel sighting</p>
                <hr>
                <br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <p>Thanks for info! <img src="https://image.flaticon.com/icons/svg/1140/1140163.svg" style="width:30px" class="rounded" alt="..." ></p>
                        <input class = "btn btn-primary" type="submit" name="save">
                        <br>
                </form>
                <br>
                <div style=font-size:12px>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </body>
</html>

